!!!
html
  head
    title diffbin | Like pastebin but _diff_erent
    != css("main")
    script(src="http://code.jquery.com/jquery-1.7.2.min.js")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
    meta(name="description", content="Easily show to other people what changes you've made to their text. Change is good, share it.")
    block head
  body!= body

