.container
  form#new_entry_form(method="post", action="/"+slug)
    .row
      .span6
        .entry
          h4 Original text:
          textarea#original_text(readonly)= original_entry
      .span6
        .entry
          h4 Edited text:
          textarea#new_text(name="new_text")= new_entry
    .row
      .span6.offset3
        pre#changes
      .span3
        input#save_changes(type="submit", disabled, value="Save Changes").btn

!= js("entry")
!= js("jsdiff")