@delColour: red;
@insColour: green;

.container {
  margin-top:40px;

  .main {
    margin-bottom: 20px;
  }

  form#new_entry_form {
    textarea.entry_text {
      display:block;
      width:98%;
      max-width:98%;
      height:150px;
      margin-bottom:10px;
    }
  }

  pre#changes {
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;

    del {
      color: @delColour;
    }

    ins {
      color: @insColour;
      text-decoration: none;
    }
  }
}

.share_container {
  margin-top:10px;
  width:220px;
  #share_url {
    width:158px;
  }

  button#copy {
    margin-left:-5px;
    margin-top:-9px;
  }
}

.entry {
  textarea {
    width:100%;
    height:250px;
    max-width:100%;
  }
}
